body {
  margin: 0;
  padding: 0;
}

#pageHeader {
  margin: 10px 0 0;
  text-align: center;
}

#toolbar {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  max-width: 370px;
}

#logo {
  text-decoration: none;
}

#logoPlaceHolder {
  display: inline;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  margin: 0 0 0 12px;
  padding: 10px 12px;
}

#logoPlaceHolder:hover {
  color: #36b37e;
}

#hamburgerButton {
  display: inline;
  margin: 6px 35px 0 3px;
}

#hamburgerButton:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 38px;
  height: 100vh;
  background-image: url(../images/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.headline {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 48px 24px 0 24px;
  max-width: 290px;
}

#subheadline {
  color: #36b37e;
}

.supportingLine {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 0;
  padding: 0 24px;
  max-width: 370px;
}

.social-media-icons-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
  margin: 10px 24px 58px 24px;
  padding: 0;
}

.social-media-icons {
  margin: 0;
}

.social-media-icons:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

#myRecentWorksContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(7,auto);
  row-gap: 24px;
  justify-content: center;
}

#recentWorkSeparator {
  background-color: #36b37f;
  border-radius: 5px;
  width: 48px;
  height: 4px;
  margin: 25px auto 30px;
  border: none;  
}

.workCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  max-width: 340px;
  height: 474px;
}

.workCardInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: white;
  border-radius: 8px;
  height: 222px;
  padding: 0 16px 0;
}

.workCardInfoTitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  margin: 0 ;
}

.langBadgesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0 0 16px;
  padding: 0;
}

.langBadges {
  /*flex: 1 2 auto;*/
  background-color: #ebf0ee;
  border-radius: 4px;
  margin: 0;
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  text-align: center;
  white-space: nowrap;
}

.btnSeeProject {
  background-color: #36b37f;
  border-radius: 4px;
  color: white;
  width: 122px;
  height: 48px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  margin: 0 0 0;
}

#aboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.langFrameAndSkillCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  width: 340px;
  height: 352px;
}