body {
  margin: 0;
  padding: 0;
}

#toolbar {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

#logoPlaceHolder {
  display: inline;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  margin: 0 0 0 12px;
  padding: 10px 12px;
}

#logoPlaceHolder:hover {
  color: #36b37e;
}

#hamburgerButton {
  display: inline;
  margin: 6px 35px 0 3px;
}

#hamburgerButton:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 38px;
  background-image: url(../images/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
}

#headline {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 62px 24px 0 24px;
}

#subheadline {
  color: #36b37e;
}

#supportingLine {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 0 24px 0 24px;
}

.social-media-icons-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
  margin: 10px 24px 58px 24px;
}

.social-media-icons {
  margin: 0;
}

.social-media-icons:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
