/* Importing used fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* Import box icons */
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

/* Defining global CSS variables */
:root {
  --saturated-primary-color: #1d6346;
  --lighter-primary-color: #c5e9da;
  --lightest-primary-color: #ebf0ee;
  --secondary-color: #172b4d;
  --constrast-color: white;
  --border-gray-color: #d0d9d4;
  --border-green-color: #60c095;
  --input-placeholder-color: #6b778c;
  --textarea-placeholder-color: #091e42;
  --button-pressed-color: #008552;
  --button-enabled-color: #00663f;
  --button-hover-color: #1d6349;
  --footer-separator-color: #dfe1e6;
  --button-hover-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  --lang-frame-skill-title-color: #344563;
  --lang-frame-skill-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  --normal-radius: 4px;
  --bigger-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  border: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inter-font-400 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
}

.inter-font-500 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.inter-font-600 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
}

.inter-font-700 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.inter-font-800 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0.37px;
}

.font-size-15_24 {
  font-size: 15px;
  line-height: 24px;
}

.font-size-12_16 {
  font-size: 12px;
  line-height: 16px;
}

input,
textarea {
  height: 48px;
  margin: 0 24px;
  padding: 4px 12px 4px 12px;
  width: 100%;
  border: 1px solid var(--border-gray-color);
  border-radius: 4px;
  box-sizing: border-box;
}

input::placeholder {
  color: var(--input-placeholder-color);
}

textarea::placeholder {
  color: var(--textarea-placeholder-color);
}

textarea::-webkit-resizer {
  background-image: url(../images/resizer_handle_icon.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.button {
  background-color: var(--button-enabled-color);
  border-radius: var(--normal-radius);
  color: var(--constrast-color);
  height: 48px;
  border: none;
  padding: 12px;
}

.button:enabled {
  background-color: var(--button-enabled-color);
}

.button:focus {
  background-color: var(--button-pressed-color);
}

.button:hover {
  background-color: var(--button-hover-color);
  box-shadow: var(--button-hover-shadow);
}

article {
  margin: 24px 0;
  padding: 24px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  row-gap: 24px;
}

footer {
  position: relative;
  padding: 0 60px;
  text-align: center;
}

#page-header {
  margin: 10px 0 0;
  text-align: center;
}

#toolbar {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  max-width: 370px;
}

#logo {
  text-decoration: none;
}

#logoPlaceHolder {
  display: inline;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: var(--secondary-color);
  margin: 0 0 0 12px;
  padding: 10px 12px;
}

#logoPlaceHolder:hover {
  color: var(--saturated-primary-color);
}

#top-menu {
  display: none;
}

#hamburger-button {
  display: inline;
  margin: 6px 35px 0 3px;
}

#hamburger-button:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

#close-btn {
  display: none;
}

/**** Menu Mobile Styles ****/

#page-header-mobile-menu {
  height: 100vh;
  background: #e5e5e5;
}

#header-separator {
  display: none;
  background-color: black;
  border-radius: 5px;
  width: 113px;
  height: 4px;
  margin: 35px auto 0;
  border: none;
}

#nav-bar-mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 15px;
}

#logo-mobile-menu {
  display: none;
}

#hamburger-button-mobile-menu {
  display: none;
}

#close-btn-mobile-menu {
  display: block;
  align-self: flex-end;
  color: #67798e;
  font-size: larger;
  text-align: right;
  margin: 24px 38px 0;
}

#toolbar-mobile-menu {
  height: 93%;
  background: white;
  border-radius: 0 0 30px 30px;
}

#top-menu-mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 15px;
}

.menu-item-mobile-menu {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
  margin-left: 24px;
}

#main-container {
  gap: 38px;
  height: 100vh;
  background-image: url(../images/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.headline {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: var(--secondary-color);
}

#subheadline {
  color: var(--saturated-primary-color);
}

.supportingLine {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: var(--secondary-color);
  width: 80%;
}

.social-media-icons-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.social-media-icons {
  margin: 0;
}

.social-media-icons:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

#anchor-button {
  margin: 26px auto;
}

/* My Recent Works Mobile Styles */

#my-recent-works-container {
  grid-template-rows: repeat(7, auto);
  row-gap: 1.5rem;
}

#recentWorkSeparator {
  background-color: var(--button-enabled-color);
  border-radius: 5px;
  width: 48px;
  height: 4px;
  margin: 25px auto 38px;
  border: none;
}

#popup-back {
  grid-template-rows: auto;
  background: gray;
  padding: 1rem;
  height: 100vh;
  align-items: stretch;
  overflow-y: hidden;
}

.popup-container {
  justify-content: flex-start;
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  align-items: stretch;
}

.work-card {
  justify-content: flex-start;
  background-color: var(--lightest-primary-color);
  border: 0.063rem solid var(--border-gray-color);
  border-radius: 0.5rem;
  padding: 0;
  justify-self: stretch;
  align-items: stretch;
  height: 29.6rem;
  transition: 0.2s;
  overflow: hidden;
}

.workCard:hover {
  transform: scale(1.05);
}

.card-img {
  max-height: 49%;
}

.info-container {
  flex-grow: 3;
  align-items: stretch;
}

.work-card-info-container {
  gap: 0.75rem;
  background-color: var(--constrast-color);
  border: 0;
  border-radius: 0.5rem;
  height: 14rem;
  padding: 0 0.6rem;
}

.proj-descrition {
  flex: 3 0 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #172b4d;
  overflow: auto;
}

.badges-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

.lang-badges {
  background-color: var(--lightest-primary-color);
  border-radius: 0.25rem;
  margin: 0;
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 0.03em;
  color: #3a4a42;
  text-align: center;
  white-space: nowrap;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0;
  color: #172b4d;
}

.workCardInfoTitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #3a4a42;
}

.btn-container {
  flex-direction: row;
}

.btn-grow {
  flex-grow: 1;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 400;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
}

.hide {
  display: none;
}

/* About Me Mobile Styles */

#about-me-container {
  row-gap: 58px;
}

#about-me-container header {
  gap: 20px;
  position: relative;
}

#about-me-mobile-right {
  display: block;
  position: absolute;
  top: -50px;
  right: -23px;
}

#about-me-mobile-left {
  display: block;
  position: absolute;
  bottom: -5px;
  left: -23px;
}

.lang-frame-skill-card {
  justify-self: stretch;
  gap: 30px;
  background-color: var(--lightest-primary-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  height: 352px;
}

.lang-frame-skill-icon-container {
  width: 80px;
  height: 80px;
  background-color: var(--constrast-color);
  margin: 0 0 20px;
  border-radius: 50%;
  box-shadow: var(--lang-frame-skill-shadow);
}

@keyframes rotate {
  50% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(20px);
  }
}

.lang-frame-skill-icon {
  width: 48px;
}

.lang-frame-skill-icon:hover {
  animation: rotate 1s cubic-bezier(0.92, -0.14, 0.12, 1.74) forwards;
}

@keyframes rotate {
  50% {
    transform: rotateZ(-45deg);
  }

  100% {
    transform: rotateZ(45deg);
  }
}

.lang-frame-skill-title {
  text-align: center;
  color: var(--lang-frame-skill-title-color);
  margin: 0;
}

.lang-frame-skill-badges-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0 0 16px;
  padding: 0;
}

.lang-frame-skill-badges {
  background-color: var(--constrast-color);
  border-radius: 8px;
  margin: 0;
  padding: 12px;
  color: var(--saturated-primary-color);
  text-align: center;
  white-space: nowrap;
}

/* Contact Form Styles */

#contact-form-container {
  row-gap: 58px;
}

#contact-form-container header h2 {
  text-align: center;
}

.input-textarea {
  border: 1px solid var(--border-green-color);
  height: 114px;
}

.invalid {
  color: #b30003;
  font-size: 1rem;
}

/* Footer Styles */

#footer-mobile-background {
  position: absolute;
  top: -117px;
  right: 0;
}

#footer-desktop-background-left,
#footer-desktop-background-middle,
#footer-desktop-background-right,
#about-me-desktop-right,
#about-me-desktop-left {
  display: none;
}

#email-line {
  margin: 12px 0;
  text-align: center;
  color: var(--secondary-color);
}

#final-separator {
  background-color: black;
  border-radius: 5px;
  width: 113px;
  height: 4px;
  margin: 25px auto 30px;
  border: none;
  margin-top: 300px;
}

/* This applies from 768px onwards */
@media (min-width: 768px) and (max-width: 1099px) {
  body {
    background-image: url(../images/header_ilustration_desktop.svg);
    background-repeat: no-repeat;
    background-size: auto 780px;
    background-position: top center;
  }

  #main-container {
    background-image: none;
    justify-content: flex-start;
    height: auto;
    width: auto;
  }

  #page-header {
    margin: 10px 0 0;
    text-align: center;
  }

  .headline {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 90px;
  }

  .supportingLine {
    max-width: 920px;
  }

  #top-menu {
    display: flex;
    justify-content: center;
    gap: 32px;
    list-style: none;
    border: 0;
    margin: 26px 0;
    padding: 0;
  }

  .menu-item {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  #logo {
    display: none;
  }

  #hamburger-button {
    display: none;
  }

  #mainContainer {
    align-items: center;
    gap: 38px;
    height: 100vh;
    background-image: none;
  }

  /* My Recent Works Desktop Styles */

  #my-recent-works-container {
    margin-right: 6vw;
    margin-left: 6vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 1.5rem;
  }

  #popup-back {
    grid-template-rows: auto;
    background: gray;
    padding: 1rem;
    height: 100vh;
    align-items: stretch;
    overflow-y: hidden;
  }

  #my-recent-works-container .headline {
    grid-column: 1 / span 2;
  }

  #recentWorkSeparator {
    display: none;
  }

  .workCard {
    background-color: var(--lightest-primary-color);
    border: 0.063rem solid var(--border-gray-color);
    border-radius: 0.5rem;
    max-width: 21.25rem;
    height: 29.625rem;
  }

  .popup-container {
    align-self: center;
    height: 100%;
    justify-self: center;
    justify-content: flex-start;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 57.5rem;
    max-height: 67.688rem;
    align-items: stretch;
  }

  /* About Me Desktop Styles */

  #about-me-container {
    margin: 24px 6vw 92px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 24px;
    position: relative;
  }

  #about-me-container header {
    grid-column: 1 / span 2;
    position: relative;
  }

  #about-me-desktop-right {
    display: block;
    position: absolute;
    top: -100px;
    right: -6vw;
  }

  #about-me-desktop-left {
    display: block;
    position: absolute;
    bottom: 20px;
    left: calc(-178px + 1vw);
  }

  .lang-frame-skill-card {
    justify-self: stretch;
    width: auto;
    height: 352px;
  }

  /* Contact Form styles */

  #contact-form-container {
    margin: 24px 6vw 200px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(1, auto);
    column-gap: 24px;
  }

  .font-size-30 {
    font-size: 30px;
    line-height: calc(30px + 1vw);
  }

  .button-left {
    align-self: flex-start;
  }

  /* footer styles */

  footer {
    padding: 24px;
    border-top: 1px solid var(--footer-separator-color);
  }

  #footer-desktop-background-left {
    display: block;
    position: absolute;
    top: -350px;
    left: 0;
  }

  #footer-desktop-background-middle {
    display: block;
    position: absolute;
    top: -190px;
    left: 280px;
  }

  #footer-desktop-background-right {
    display: block;
    position: absolute;
    top: -498px;
    right: 0;
  }

  #final-separator,
  #email-line,
  #footer-mobile-background,
  #about-me-mobile-right,
  #about-me-mobile-left {
    display: none;
  }
}

@media (min-width: 1100px) {
  body {
    background-image: url(../images/header_ilustration_desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }

  #main-container {
    background-image: none;
    justify-content: flex-start;
  }

  #page-header {
    margin: 10px 0 0;
    text-align: center;
  }

  .headline {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 90px;
  }

  .supportingLine {
    max-width: 920px;
  }

  #top-menu {
    display: flex;
    justify-content: center;
    gap: 32px;
    list-style: none;
    border: 0;
    margin: 26px 0;
    padding: 0;
  }

  .menu-item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  #logo {
    display: none;
  }

  #hamburger-button {
    display: none;
  }

  #mainContainer {
    align-items: center;
    gap: 38px;
    height: 100vh;
    background-image: none;
  }

  /* My Recent Works Desktop Styles */

  #my-recent-works-container {
    margin-right: 6vw;
    margin-left: 6vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 1.5rem;
  }

  #my-recent-works-container .headline {
    grid-column: 1 / span 3;
  }

  #recentWorkSeparator {
    display: none;
  }

  .workCard {
    background-color: var(--lightest-primary-color);
    border: 0.063rem solid var(--border-gray-color);
    border-radius: 0.5rem;
    max-width: 21.25rem;
    height: 29.625rem;
  }

  .popup-container {
    align-self: center;
    height: 100%;
    justify-self: center;
    justify-content: flex-start;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 57.5rem;
    max-height: 67.688rem;
    align-items: stretch;
  }

  /* About Me Desktop Styles */

  #about-me-container {
    margin: 24px 6vw 92px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 24px;
    position: relative;
  }

  #about-me-container header {
    grid-column: 1 / span 3;
    position: relative;
  }

  #about-me-desktop-right {
    display: block;
    position: absolute;
    top: -100px;
    right: -6vw;
  }

  #about-me-desktop-left {
    display: block;
    position: absolute;
    bottom: 20px;
    left: calc(-178px + 1vw);
  }

  .lang-frame-skill-card {
    justify-self: stretch;
    width: auto;
    height: 352px;
  }

  /* Contact Form styles */

  #contact-form-container {
    margin: 24px 6vw 200px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(1, auto);
    column-gap: 24px;
  }

  .font-size-30 {
    font-size: 30px;
    line-height: calc(30px + 1vw);
  }

  .button-left {
    align-self: flex-start;
  }

  /* footer styles */

  footer {
    padding: 24px;
    border-top: 1px solid var(--footer-separator-color);
  }

  #footer-desktop-background-left {
    display: block;
    position: absolute;
    top: -350px;
    left: 0;
  }

  #footer-desktop-background-middle {
    display: block;
    position: absolute;
    top: -190px;
    left: 280px;
  }

  #footer-desktop-background-right {
    display: block;
    position: absolute;
    top: -498px;
    right: 0;
  }

  #final-separator,
  #email-line,
  #footer-mobile-background,
  #about-me-mobile-right,
  #about-me-mobile-left {
    display: none;
  }
}

.scroll-down {
  transition: 0.35s;
}

.scroll-down:hover {
  transform: translateY(20px);
}
